@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colours
----------------------------------------------------------------------------- */
/*
@mixin source-sans-regular     {font-family: 'source-sans-regular', Helvetica, Arial, sans-serif;}
@mixin source-sans-italic      {font-family: 'source-sans-italic', Helvetica, Arial, sans-serif;}
@mixin source-sans-bold        {font-family: 'source-sans-bold', Helvetica, Arial, sans-serif;}
@mixin source-sans-bold-italic {font-family: 'source-sans-bold-italic', Helvetica, Arial, sans-serif;}
*/
/* Basic typography
----------------------------------------------------------------------------- */
body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures; }

p, a, img, ul, ol, blockquote, pre {
  font-weight: normal;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.4em; }

em {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal; }

.centered {
  text-align: center; }

body {
  background-color: #f0efee; }

a:link, a:visited {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: -3px;
  margin-right: 7px;
  clear: both;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  a:link:hover, a:link:active, a:visited:hover, a:visited:active {
    background-color: #000;
    color: #fff; }

.button-normal {
  margin-bottom: 12px; }

.button-last {
  margin-bottom: 35px; }

.button-small {
  border-radius: 22px;
  padding: 12px 21px 14px 21px; }

.button-large {
  border-radius: 28px;
  font-size: 27px;
  letter-spacing: 0;
  padding: 7px 20px 11px 20px; }

/* The page header
----------------------------------------------------------------------------- */
.masthead {
  padding: 10px;
  /* -- pull this back in when we build larger sizes
     -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {padding: $small-margin;}
	@include breakpoint(medium) {padding: $medium-margin; }
	@include breakpoint(large) {padding: $large-margin;}
	@include breakpoint(huge) {padding: $huge-margin;}
  */
  height: 41px; }
  .masthead a:link, .masthead a:visited {
    padding: 0;
    text-decoration: none;
    display: block;
    clear: none; }
    .masthead a:link:hover, .masthead a:link:active, .masthead a:visited:hover, .masthead a:visited:active {
      background-color: transparent; }

.the-logo {
  float: left;
  height: 41px; }

.the-menu {
  float: right;
  height: 6px;
  margin-right: 20px;
  margin-top: 17px; }

.close-button {
  float: right;
  height: 28px;
  margin-right: 20px;
  margin-top: 6px; }

.back-button {
  float: left;
  margin-top: 8px;
  margin-left: 15px; }
  .back-button p {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    text-align: left; }
  .back-button .back-arrow {
    height: 14px;
    margin: 5px 8px 0 2px;
    clear: none;
    display: inline-block;
    float: left; }
  .back-button a:link, .back-button a:visited {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 20px;
    margin: 0;
    clear: none;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    color: #000; }
    .back-button a:link:hover, .back-button a:link:active, .back-button a:visited:hover, .back-button a:visited:active {
      background-color: transparent;
      color: #969696; }

/* The footer
----------------------------------------------------------------------------- */
.profile-footer {
  z-index: 100;
  padding: 10px;
  /* -- pull this back in when we build larger sizes
     -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {padding: $small-margin;}
	@include breakpoint(medium) {padding: $medium-margin; }
	@include breakpoint(large) {padding: $large-margin;}
	@include breakpoint(huge) {padding: $huge-margin;}
  */
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #fff;
  border-top: solid 1px #e2e2e2; }
  .profile-footer a:link, .profile-footer a:visited {
    background-color: #000;
    color: #fff; }
    .profile-footer a:link:hover, .profile-footer a:link:active, .profile-footer a:visited:hover, .profile-footer a:visited:active {
      background-color: #646464;
      color: #fff; }

/* The page body
----------------------------------------------------------------------------- */
.content {
  padding-left: 30px;
  padding-right: 30px;
  /* -- pull this back in when we build larger sizes
     -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {padding-left: $small-margin; padding-right: $small-margin}
	@include breakpoint(medium) {padding-left: $medium-margin; padding-right: $medium-margin}
	@include breakpoint(large) {padding-left: $large-margin; padding-right: $large-margin}
	@include breakpoint(huge) {padding-left: $huge-margin; padding-right: $huge-margin}
  */ }
  .content p {
    clear: both; }
  .content a:link, .content a:visited {
    background-color: #fff;
    color: #000;
    float: left; }
    .content a:link:hover, .content a:link:active, .content a:visited:hover, .content a:visited:active {
      background-color: #000;
      color: #fff; }

.section-label {
  margin-top: 30px;
  margin-bottom: 12px; }
  .section-label p {
    margin-top: 30px; }

.page-title {
  margin-top: 30px;
  margin-bottom: 12px; }
  .page-title p {
    margin-top: 30px; }

.help-title {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 28px;
  margin-left: -4px;
  margin-bottom: 32px;
  clear: both;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left; }

/* Help-with pages, colour changes
----------------------------------------------------------------------------- */
.pain {
  color: #1e96ff; }
  .pain a:link, .pain a:visited {
    background-color: #fff;
    color: #1e96ff; }
    .pain a:link:hover, .pain a:link:active, .pain a:visited:hover, .pain a:visited:active {
      background-color: #1e96ff;
      color: #fff; }
  .pain .help-title {
    background-color: #1e96ff; }

.bleeding {
  color: #fa46c8; }
  .bleeding a:link, .bleeding a:visited {
    background-color: #fff;
    color: #fa46c8; }
    .bleeding a:link:hover, .bleeding a:link:active, .bleeding a:visited:hover, .bleeding a:visited:active {
      background-color: #fa46c8;
      color: #fff; }
  .bleeding .help-title {
    background-color: #fa46c8; }

.baby {
  color: #b43cff; }
  .baby a:link, .baby a:visited {
    background-color: #fff;
    color: #b43cff; }
    .baby a:link:hover, .baby a:link:active, .baby a:visited:hover, .baby a:visited:active {
      background-color: #b43cff;
      color: #fff; }
  .baby .help-title {
    background-color: #b43cff; }

.other {
  color: #fa7e00; }
  .other a:link, .other a:visited {
    background-color: #fff;
    color: #fa7e00; }
    .other a:link:hover, .other a:link:active, .other a:visited:hover, .other a:visited:active {
      background-color: #fa7e00;
      color: #fff; }
  .other .help-title {
    background-color: #fa7e00; }

/* Pain face styles
----------------------------------------------------------------------------- */
.pain-scale {
  margin-left: -30px;
  margin-right: -30px;
  /* -- pull this back in when we build larger sizes
  	 -- for now, we use the "tiny" size for everything
  @include breakpoint(small) {margin-left: -$small-margin; margin-right: -$small-margin;}
  @include breakpoint(medium) {margin-left: -$medium-margin; margin-right: -$medium-margin;}
  @include breakpoint(large) {margin-left: -$large-margin; margin-right: -$large-margin;}
  @include breakpoint(huge) {margin-left: -$huge-margin; margin-right: -$huge-margin;}
  */
  white-space: nowrap;
  overflow: scroll; }

.pain-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  /* -- pull this back in when we build larger sizes
     -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {padding-left: $small-margin; padding-right: $small-margin}
	@include breakpoint(medium) {padding-left: $medium-margin; padding-right: $medium-margin}
	@include breakpoint(large) {padding-left: $large-margin; padding-right: $large-margin}
	@include breakpoint(huge) {padding-left: $huge-margin; padding-right: $huge-margin}
  */ }

.pain-face {
  width: 120px;
  margin-right: 30px;
  text-align: center;
  display: inline-block; }

.face {
  margin-bottom: 5px; }

/* The forms
----------------------------------------------------------------------------- */
hr {
  margin-left: -30px;
  margin-right: -30px;
  /* -- pull this back in when we build larger sizes
  	 -- for now, we use the "tiny" size for everything
  @include breakpoint(small) {margin-left: -$small-margin; margin-right: -$small-margin;}
  @include breakpoint(medium) {margin-left: -$medium-margin; margin-right: -$medium-margin;}
  @include breakpoint(large) {margin-left: -$large-margin; margin-right: -$large-margin;}
  @include breakpoint(huge) {margin-left: -$huge-margin; margin-right: -$huge-margin;}
  */
  border: 1px solid #e2e2e2;
  margin-bottom: 20px; }

.the-profile {
  margin-top: 37px;
  margin-bottom: 100px; }

.form-label {
  clear: both;
  float: left; }

.required {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #969696; }

input[type=text], select, textarea {
  width: 100%;
  padding: 10px 15px 11px;
  margin: 6px 0 20px 0;
  display: inline-block;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 21px; }

input[type=text], select {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal; }

textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

select {
  background-image: url("assets/select-arrows-1.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 10px; }

input[type=button] {
  margin-left: -30px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  padding: 15px 30px 17px;
  margin: 0 0 -1px 0;
  display: inline-block;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-left: none;
  border-right: none;
  background-color: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 28px;
  text-align: left;
  cursor: pointer; }

.room-button {
  margin-left: -30px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  padding: 15px 30px 17px;
  margin: 0 0 -1px 0;
  display: inline-block;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-left: none;
  border-right: none;
  background-color: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 28px;
  text-align: left;
  cursor: pointer; }

.checkmark-no {
  height: 50px;
  margin-top: -6px;
  margin-bottom: -8px;
  float: right; }

.room-selector {
  margin-left: -30px;
  margin-right: -30px;
  /* -- pull this back in when we build larger sizes
  	 -- for now, we use the "tiny" size for everything
  @include breakpoint(small) {margin-left: -$small-margin; margin-right: -$small-margin;}
  @include breakpoint(medium) {margin-left: -$medium-margin; margin-right: -$medium-margin;}
  @include breakpoint(large) {margin-left: -$large-margin; margin-right: -$large-margin;}
  @include breakpoint(huge) {margin-left: -$huge-margin; margin-right: -$huge-margin;}
  */ }

.room-unselected {
  background-color: #f0efee; }

.room-selected {
  background-color: #fa7e00; }
