@mixin radius-large {border-radius: 28px;}
@mixin radius-small {border-radius: 22px;}

body {
  background-color: $standard-bg;
}

a:link, a:visited {
  @include source-sans-bold;
  margin-left: -3px;
  margin-right: 7px;
  clear: both;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  &:hover, &:active {
    background-color: #000;
    color: #fff;
  }
}

// the button modifiers

.button-normal {margin-bottom: 12px;}
.button-last {margin-bottom: 45px;}

.button-small {
  @include radius-small;
  padding: 12px 21px 14px 21px;
}
.button-large {
  @include radius-large;
  font-size: 27px;
  letter-spacing: 0;
  padding: 8px 20px 10px 20px;
}
