/* Colours
----------------------------------------------------------------------------- */

// Greys
// * Greys get lighter as the number goes up
$grey-0: #1e1e1e;
$grey-1: #646464;
$grey-2: #969696;
$grey-3: #bebebe;
$grey-4: #e2e2e2;
$grey-5: #e6e6e6;
$standard-bg: #f0efee; // the lightest grey, aka grey-6

// Highlights
$the-blue: #1e96ff;
$the-purple: #b43cff;
$the-pink: #fa46c8;
$the-orange: #fa7e00;
$the-orange-dark: #ea6e00;
