/* The page body
----------------------------------------------------------------------------- */

.content {
  @include horiz-margins;
  p {clear: both;}
  a:link, a:visited {
    background-color: #fff;
    color: #000;
    float: left;
    &:hover, &:active {
      background-color: #000;
      color: #fff;
    }
  }
}

.section-label {
  margin-top: 30px;
  margin-bottom: 12px;
  p {margin-top: 30px;}
}

.page-title {
  margin-top: 30px;
  margin-bottom: 12px;
  //font-size: 28px;
  p {margin-top: 30px;}
}

// The page titles for the help-with sections -- NOT BUTTONS
.help-title {
  @include source-sans-bold;
  @include radius-large;
  margin-left: -4px;
  margin-bottom: 32px;
  clear: both;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
}



/* Help-with pages, colour changes
----------------------------------------------------------------------------- */

.pain {
  color: $the-blue;
  a:link, a:visited {
    background-color: #fff;
    color: $the-blue;
    &:hover, &:active {
      background-color: $the-blue;
      color: #fff;
    }
  }
  .help-title {background-color: $the-blue;}
}

.bleeding {
  color: $the-pink;
  a:link, a:visited {
    background-color: #fff;
    color: $the-pink;
    &:hover, &:active {
      background-color: $the-pink;
      color: #fff;
    }
  }
  .help-title {background-color: $the-pink;}
}

.baby {
  color: $the-purple;
  a:link, a:visited {
    background-color: #fff;
    color: $the-purple;
    &:hover, &:active {
      background-color: $the-purple;
      color: #fff;
    }
  }
  .help-title {background-color: $the-purple;}
}

.other {
  color: $the-orange;
  a:link, a:visited {
    background-color: #fff;
    color: $the-orange;
    &:hover, &:active {
      background-color: $the-orange;
      color: #fff;
    }
  }
  .help-title {background-color: $the-orange;}
}



/* Pain face styles
----------------------------------------------------------------------------- */

.pain-scale {
  @include negative-horiz-margins;
  white-space: nowrap;
  overflow: scroll;
}

.pain-wrapper {@include horiz-margins;}

.pain-face {
  width: 120px;
  margin-right: 30px;
  text-align: center;
  display: inline-block;
}

.face {
  margin-bottom: 5px;
}
