/* The page body
----------------------------------------------------------------------------- */

.content {
  @include horiz-margins;
  p {clear: both;}
  a:link, a:visited {
    background-color: #fff;
    color: #000;
    float: left;
    &:hover, &:active {
      background-color: #000;
      color: #fff;
    }
  }
}

.button-normal {margin-bottom: 12px;}
.button-last {margin-bottom: 45px;}

.button-small {
  @include radius-small;
}
.button-large {
  @include radius-large;
  font-size: 30px;
}

.section-label {
  margin-top: 45px;
  margin-bottom: 15px;
  p {margin-top: 45px;}
}


// The page titles for the help-with sections -- NOT BUTTONS
.help-title {
  @include source-sans-bold;
  @include radius-large;
  margin-left: -4px;
  margin-bottom: 45px;
  padding: 11px 18px 13px 18px;
  clear: both;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
}




/* Help-with pages, colour changes
----------------------------------------------------------------------------- */

.pain {
  color: $the-blue;
  a:link, a:visited {
    background-color: #fff;
    color: $the-blue;
    &:hover, &:active {
      background-color: $the-blue;
      color: #fff;
    }
  }
  .help-title {
    background-color: $the-blue;
  }
}

.bleeding {
  color: $the-pink;
  a:link, a:visited {
    background-color: #fff;
    color: $the-pink;
    &:hover, &:active {
      background-color: $the-pink;
      color: #fff;
    }
  }
  .help-title {
    background-color: $the-pink;
  }
}

.baby {
  color: $the-purple;
  a:link, a:visited {
    background-color: #fff;
    color: $the-purple;
    &:hover, &:active {
      background-color: $the-purple;
      color: #fff;
    }
  }
  .help-title {
    background-color: $the-purple;
  }
}

.other {
  color: $the-orange;
  a:link, a:visited {
    background-color: #fff;
    color: $the-orange;
    &:hover, &:active {
      background-color: $the-orange;
      color: #fff;
    }
  }
  .help-title {
    background-color: $the-orange;
  }
}
