// The margins for the MASTHEAD

$masthead-tiny-margin: 10px;

@mixin masthead-margins {
	padding: $masthead-tiny-margin;
  /* -- pull this back in when we build larger sizes
     -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {padding: $small-margin;}
	@include breakpoint(medium) {padding: $medium-margin; }
	@include breakpoint(large) {padding: $large-margin;}
	@include breakpoint(huge) {padding: $huge-margin;}
  */
}



// The margins for the CONTENT

$tiny-margin: 30px;

@mixin horiz-margins {
	padding-left: $tiny-margin; padding-right: $tiny-margin;
  /* -- pull this back in when we build larger sizes
     -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {padding-left: $small-margin; padding-right: $small-margin}
	@include breakpoint(medium) {padding-left: $medium-margin; padding-right: $medium-margin}
	@include breakpoint(large) {padding-left: $large-margin; padding-right: $large-margin}
	@include breakpoint(huge) {padding-left: $huge-margin; padding-right: $huge-margin}
  */
}

@mixin vert-margins {
	padding-top: $tiny-margin; padding-bottom: $tiny-margin;
  /* -- pull this back in when we build larger sizes
     -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {padding-left: $small-margin; padding-right: $small-margin}
	@include breakpoint(medium) {padding-left: $medium-margin; padding-right: $medium-margin}
	@include breakpoint(large) {padding-left: $large-margin; padding-right: $large-margin}
	@include breakpoint(huge) {padding-left: $huge-margin; padding-right: $huge-margin}
  */
}

// negative margins, left and right
@mixin negative-horiz-margins {
	margin-left: -$tiny-margin; margin-right: -$tiny-margin;
	/* -- pull this back in when we build larger sizes
		 -- for now, we use the "tiny" size for everything
	@include breakpoint(small) {margin-left: -$small-margin; margin-right: -$small-margin;}
	@include breakpoint(medium) {margin-left: -$medium-margin; margin-right: -$medium-margin;}
	@include breakpoint(large) {margin-left: -$large-margin; margin-right: -$large-margin;}
	@include breakpoint(huge) {margin-left: -$huge-margin; margin-right: -$huge-margin;}
	*/
}
