/* The page header
----------------------------------------------------------------------------- */

.masthead {
  @include masthead-margins;
  height: 41px;
  a:link, a:visited {
    padding: 0;
    text-decoration: none;
    display: block;
    clear: none;
    &:hover, &:active {
      background-color: transparent;
    }
  }
}

.the-logo {
  float: left;
  height: 41px;
}

.the-menu {
  float: right;
  height: 6px;
  margin-right: 20px;
  margin-top: 17px;
}

.close-button {
  float: right;
  height: 28px;
  margin-right: 20px;
  margin-top: 6px;
}
