@mixin source-sans-regular     {font-family: 'source-sans-regular', Helvetica, Arial, sans-serif;}
@mixin source-sans-italic      {font-family: 'source-sans-italic', Helvetica, Arial, sans-serif;}
@mixin source-sans-bold        {font-family: 'source-sans-bold', Helvetica, Arial, sans-serif;}
@mixin source-sans-bold-italic {font-family: 'source-sans-bold-italic', Helvetica, Arial, sans-serif;}



/* Basic typography
----------------------------------------------------------------------------- */

body {
  @include source-sans-regular;
  font-size: 22px; // set the foundation size to base rem off of
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, blockquote, pre {
  font-weight: normal;
  font-size: 1em;
}

em {@include source-sans-bold;}
